<h1>New Session</h1>
 
<%= form_with url: sessions_path do |form| %>
  <p>
    <%= form.label :name, "Player A's Name" %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit "Create Session" %>
  </p>
<% end %>